<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--
          FileProvider used to expose the cached APK file to the
          system PackageInstaller intent (which refuses file:// URIs
          on API 24+). The authority is namespaced to avoid clashing
          with any other FileProvider in the host app.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.osmaniupdate.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/osmani_update_paths" />
        </provider>
    </application>
</manifest>
